.Header_container.css-11b3ww9-MuiPaper-root-MuiAppBar-root{
    position: sticky;
    padding: 0 55px ;
    z-index: 999;
    background-color: #ffffff;
    color: black;
    box-shadow: 0 0 4px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 28%);
}

.Loginbutton.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    border-radius: 20px 0 0 20px;
    margin-right: 5px;
}
.signup.css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    border-radius: 0 20px 20px 0;
    
}
